<div id="container">
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>647-722-DRIZ<small> 3749</small></h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
</div>
