<div id="container">
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <!-- <h1 style="background-color: #b3e6ff;">1-647-722-DRIZ<small> 3749</small></h1> -->
  <h1><a href="sms:1-647-722-3749">1-647-722-3749</a><span style="color: #ffb3d9;">PING</span></h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
</div>
