<div id="container">
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <!-- <h1 style="background-color: #b3e6ff;">1-647-722-DRIZ<small> 3749</small></h1> -->
  <h1 style="color: #ccefff;"><a href="sms:1-647-722-DRIZ">1-647-722-DRIZ</a><small> 3749</small></h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
  <h1>1-800-HOTLINEPING</h1>
</div>
